<div class="header">
    <div class="container">
        <a href="/" class="header-logo">
            {{ APP_NAME|default("") }}</a>
        <div class="nav nav-icon">
            <a class="nav-link" href="{{ AUTHOR_LINKEDIN }}" target="_blank"><i class="ri-linkedin-fill"></i></a>
            <a class="nav-link" href="{{ AUTHOR_GITHUB }}" target="_blank"><i class="ri-github-fill"></i></a>
        </div>
    </div>
</div>
