Merci pour votre inscription.<br/>
Activez votre compte maintenant pour devenir membre :
<br/>
<a href="{{ signedUrl }}">Activer mon compte</a><br/>
ou copiez/collez cette URL dans votre navigateur
{{ signedUrl }}><br/>
Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.<br/>

Merci et à bientôt !
